.jumbotron {
  padding-top: 0px;
  // 背景画像を暗くする
  background: linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.05) ), url(fun.jpeg);
  background-size: cover;
  // 背景画像の位置を決める
  background-position: 50% 50%;
  height: 100%;
  position: relative;
  margin-bottom: 0px;

  .container .row {
    color: #fff;
  }
}

.sentence-box {
  position: absolute;
  color: #fff!important;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  letter-spacing: 11px;
  white-space: nowrap;
  text-align: center;

  .home-title {
    margin-bottom: 30px;
  }
}
